In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('loan.csv')

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95,360.0,1.0,Urban,Y

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    int64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(3), int64(2), object(8)
memory usage: 38.8+ KB

In [6]:
data=data.drop('Loan_ID',axis=1)

In [11]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,Rural,N
1,Male,Yes,0,Graduate,Yes,3000,0.0,66,360.0,1.0,Urban,Y
2,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360.0,1.0,Urban,Y
3,Male,No,0,Graduate,No,6000,0.0,141,360.0,1.0,Urban,Y
4,Male,Yes,0,Not Graduate,No,2333,1516.0,95,360.0,1.0,Urban,Y

In [13]:
data.Gender.unique()

array(['Male', 'Female', nan], dtype=object)

In [15]:
data.isna().sum()

Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [18]:
data.fillna({'Gender':data.Gender.mode()[0],'Self_Employed':data.Self_Employed.mode()[0],'Dependents':data.Dependents.mode()[0],'Loan_Amount_Term':data.Loan_Amount_Term.mode()[0],'Credit_History':data.Credit_History.mode()[0]},inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             381 non-null    object
 1   Married            381 non-null    object
 2   Dependents         381 non-null    object
 3   Education          381 non-null    object
 4   Self_Employed      381 non-null    object
 5   ApplicantIncome    381 non-null    int64
 6   CoapplicantIncome  381 non-null    float64
 7   LoanAmount         381 non-null    int64
 8   Loan_Amount_Term   381 non-null    float64
 9   Credit_History     381 non-null    float64
 10  Property_Area      381 non-null    object
 11  Loan_Status        381 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 35.8+ KB

In [22]:
data.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [24]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,Rural,N
1,Male,Yes,0,Graduate,Yes,3000,0.0,66,360.0,1.0,Urban,Y
2,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360.0,1.0,Urban,Y
3,Male,No,0,Graduate,No,6000,0.0,141,360.0,1.0,Urban,Y
4,Male,Yes,0,Not Graduate,No,2333,1516.0,95,360.0,1.0,Urban,Y

In [26]:
from sklearn.preprocessing import OneHotEncoder

In [28]:
# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder()
# encoded_data = ohe.fit_transform(data[['sex','smoker','region']]).toarray()
# encoded_data
# ohe.get_feature_names_out()
# encoded = pd.DataFrame(data=encoded_data, columns=ohe.get_feature_names_out())
# transformed_df = pd.concat([data, encoded],axis=1)

In [30]:
data['Gender'].dtype

dtype('O')

In [33]:
data['Gender'].sample(20)

193      Male
290      Male
317    Female
131      Male
35     Female
42       Male
77       Male
314      Male
320      Male
247      Male
116      Male
371      Male
356      Male
230      Male
197      Male
302      Male
170      Male
254      Male
115      Male
138      Male
Name: Gender, dtype: object

In [35]:
data.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [37]:
data.Married.unique()
data.Dependents.unique()
data.Education.unique()
data.Self_Employed.unique()
data.Loan_Status.unique()
data.Property_Area.unique()
data.Dependents.unique()

array(['1', '0', '2', '3+'], dtype=object)

In [39]:
data.Property_Area=data.Property_Area.apply(lambda x:1 if x=='Rural' else 0)

In [41]:
data.Dependents.replace(['1', '0', '2', '3+'],[1,0,2,3],inplace=True)

C:\Users\unite\AppData\Local\Temp\ipykernel_2920\1118195556.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Dependents.replace(['1', '0', '2', '3+'],[1,0,2,3],inplace=True)
C:\Users\unite\AppData\Local\Temp\ipykernel_2920\1118195556.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.Dependents.replace(['1', '0', '2', '3+'],[1,0,2,3],inplace=True)

In [43]:
data.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,1,N

In [50]:
ohe = OneHotEncoder()
enc_data=ohe.fit_transform(data[['Married','Gender','Self_Employed','Education']]).toarray()

In [53]:
enc=pd.DataFrame(enc_data,columns=ohe.get_feature_names_out())
tranform_data=pd.concat([data,enc],axis=1)

In [55]:
tranform_data.drop(['Gender','Married','Education','Self_Employed'],axis=1,inplace=True)

In [57]:
data.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,1,N

In [335]:
tranform_data.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Married_No,Married_Yes,Gender_Female,Gender_Male,Self_Employed_No,Self_Employed_Yes,Education_Graduate,Education_Not Graduate
0,1,4583,1508.0,128,360.0,1.0,1,N,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,0,3000,0.0,66,360.0,1.0,0,Y,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0,2583,2358.0,120,360.0,1.0,0,Y,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
3,0,6000,0.0,141,360.0,1.0,0,Y,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,0,2333,1516.0,95,360.0,1.0,0,Y,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0

In [337]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [339]:
tranform_data.Loan_Status.unique()

array(['N', 'Y'], dtype=object)

In [347]:
tranform_data.Loan_Status=tranform_data.Loan_Status.apply(lambda x:1 if x=='Y'else 0)

In [353]:
X.head()
y=tranform_data.Loan_Status

In [359]:
X.head()
y.head()

0    0
1    1
2    1
3    1
4    1
Name: Loan_Status, dtype: int64

In [361]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=123)

In [363]:
X_train.shape,y_train.shape

((304, 15), (304,))

In [365]:
model=LogisticRegression()

In [367]:
model.fit(X_train,y_train)

C:\Users\unite\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [383]:
y_pred_train=model.predict(X_train)
y_pred_test=model.predict(X_test)

In [385]:
print(classification_report(y_train,y_pred_train))

              precision    recall  f1-score   support

           0       0.91      0.48      0.63        86
           1       0.83      0.98      0.90       218

    accuracy                           0.84       304
   macro avg       0.87      0.73      0.76       304
weighted avg       0.85      0.84      0.82       304

In [387]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.75      0.62      0.68        24
           1       0.84      0.91      0.87        53

    accuracy                           0.82        77
   macro avg       0.80      0.77      0.78        77
weighted avg       0.81      0.82      0.81        77

In [373]:
from sklearn.metrics import confusion_matrix,precision_score,recall_score

In [375]:
confusion_matrix(y_train,y_pred_train)

array([[ 41,  45],
       [  4, 214]], dtype=int64)

In [377]:
precision_score(y_train,y_pred_train)

0.8262548262548263

In [379]:
recall_score(y_train,y_pred_train)

0.981651376146789

In [381]:
tranform_data.Gender_Male.value_counts()

Gender_Male
1.0    296
0.0     85
Name: count, dtype: int64