In [51]:
import pandas as pd

In [53]:
house=pd.read_csv('Bengaluru_House_Data.csv')

In [55]:
house.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [57]:
len(house.location.unique())

1306

In [59]:
house.drop(['availability','location'],axis=1,inplace=True)

In [61]:
house.head()

              area_type       size  society total_sqft  bath  balcony   price
0  Super built-up  Area      2 BHK  Coomee        1056   2.0      1.0   39.07
1            Plot  Area  4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2        Built-up  Area      3 BHK      NaN       1440   2.0      3.0   62.00
3  Super built-up  Area      3 BHK  Soiewre       1521   3.0      1.0   95.00
4  Super built-up  Area      2 BHK      NaN       1200   2.0      1.0   51.00

In [63]:
house.shape

(13320, 7)

In [65]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  object
 1   size        13304 non-null  object
 2   society     7818 non-null   object
 3   total_sqft  13320 non-null  object
 4   bath        13247 non-null  float64
 5   balcony     12711 non-null  float64
 6   price       13320 non-null  float64
dtypes: float64(3), object(4)
memory usage: 728.6+ KB

In [74]:
house.dropna(inplace=True)

In [72]:
house['bhk']=house['size'].apply(lambda x: x.split(" ")[0]).astype(int)

AttributeError: 'float' object has no attribute 'split'

In [67]:
house['bhk']=house['size'].apply(lambda x: x.split(" ")[0]).astype(int)

AttributeError: 'float' object has no attribute 'split'