In [139]:
#loading dataset
import pandas as pd
data=pd.read_csv("Weather Data.csv")

In [141]:
data.head() # displaying top 5 records

       Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa               Weather
0  1/1/2012 0:00    -1.8              -3.9         86                4            8.0     101.24                   Fog
1  1/1/2012 1:00    -1.8              -3.7         87                4            8.0     101.24                   Fog
2  1/1/2012 2:00    -1.8              -3.4         89                7            4.0     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5              -3.2         88                6            4.0     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5              -3.3         88                7            4.8     101.23                   Fog

In [143]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [145]:
data.describe()

            Temp_C  Dew Point Temp_C    Rel Hum_%  Wind Speed_km/h  Visibility_km    Press_kPa
count  8784.000000       8784.000000  8784.000000      8784.000000    8784.000000  8784.000000
mean      8.798144          2.555294    67.431694        14.945469      27.664447   101.051623
std      11.687883         10.883072    16.918881         8.688696      12.622688     0.844005
min     -23.300000        -28.500000    18.000000         0.000000       0.200000    97.520000
25%       0.100000         -5.900000    56.000000         9.000000      24.100000   100.560000
50%       9.300000          3.300000    68.000000        13.000000      25.000000   101.070000
75%      18.800000         11.800000    81.000000        20.000000      25.000000   101.590000
max      33.000000         24.400000   100.000000        83.000000      48.300000   103.650000

In [147]:
data.Weather.value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

In [149]:
# we have so many catorgories in weather columns so first merge them
# Clear Cloudy Snow Rain
data.Weather=data.Weather.apply(lambda x:'Clear'.lower() if 'Clear' in x  else x )
data.Weather=data.Weather.apply(lambda x:'Cloudy'.lower() if 'Cloudy' in x  else x )
data.Weather=data.Weather.apply(lambda x:'Snow'.lower() if 'Snow' in x  else x )
data.Weather=data.Weather.apply(lambda x:'Rain'.lower() if 'Rain' in x  else x )
data.Weather=data.Weather.apply(lambda x:'Fog'.lower() if 'Fog' in x  else x )
data.Weather=data.Weather.apply(lambda x:'Other'.lower() if x in ['Drizzle','Haze','Freezing Drizzle','Freezing Drizzle,Haze','Thunderstorms']   else x )

In [151]:
data.Weather.value_counts()

Weather
cloudy    3797
clear     3432
rain       662
snow       583
fog        241
other       69
Name: count, dtype: int64

In [153]:
data.head()

       Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa Weather
0  1/1/2012 0:00    -1.8              -3.9         86                4            8.0     101.24     fog
1  1/1/2012 1:00    -1.8              -3.7         87                4            8.0     101.24     fog
2  1/1/2012 2:00    -1.8              -3.4         89                7            4.0     101.26     fog
3  1/1/2012 3:00    -1.5              -3.2         88                6            4.0     101.27     fog
4  1/1/2012 4:00    -1.5              -3.3         88                7            4.8     101.23     fog

In [155]:
data.sample(6)

            Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa Weather
1034   2/13/2012 2:00    -8.8             -15.7         57               24           25.0     100.33  cloudy
5169    8/3/2012 9:00    25.6              17.8         62               15           24.1     100.91   clear
6164  9/13/2012 20:00    23.2              15.7         63               11           25.0     101.74   clear
2338   4/7/2012 10:00     5.7              -8.5         35               17           48.3     101.54  cloudy
5027  7/28/2012 11:00    23.9              14.0         54               20           48.3     101.26  cloudy
4318  6/28/2012 22:00    22.5              15.0         63               11           25.0      99.88  cloudy

In [157]:
data=data.iloc[:,1:]

In [159]:
X=data.drop('Weather',axis=1)

In [161]:
y=data.Weather

In [163]:
X.shape

(8784, 6)

In [165]:
y.shape

(8784,)

In [167]:
from sklearn.preprocessing import LabelEncoder

In [169]:
le=LabelEncoder()
y=le.fit_transform(y)

array([2, 2, 2, ..., 5, 5, 5])

In [191]:
from sklearn.model_selection import train_test_split

In [194]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.25,random_state=123)

In [196]:

from sklearn.tree import DecisionTreeClassifier

In [198]:
dt=DecisionTreeClassifier()

In [200]:
dt.fit(X_train,y_train)

TypeError: DecisionTreeClassifier.fit() missing 1 required positional argument: 'y'