In [1]:
import pandas as pd

In [2]:
data  = pd.read_csv('loan.csv')

In [3]:
data.shape

(381, 13)

In [5]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95,360.0,1.0,Urban,Y

In [6]:
data.drop('Loan_ID',axis=1,inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             376 non-null    object
 1   Married            381 non-null    object
 2   Dependents         373 non-null    object
 3   Education          381 non-null    object
 4   Self_Employed      360 non-null    object
 5   ApplicantIncome    381 non-null    int64
 6   CoapplicantIncome  381 non-null    float64
 7   LoanAmount         381 non-null    int64
 8   Loan_Amount_Term   370 non-null    float64
 9   Credit_History     351 non-null    float64
 10  Property_Area      381 non-null    object
 11  Loan_Status        381 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 35.8+ KB

In [8]:
data.isna().sum()

Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
data.fillna({'Gender':data.Gender.mode()[0], 
             'Dependents':data.Dependents.mode()[0],
             'Self_Employed':data.Self_Employed.mode()[0],
             'Loan_Amount_Term':data.Loan_Amount_Term.mode()[0],
            'Credit_History':data.Credit_History.mode()[0]}, inplace=True)

In [12]:
data.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [13]:
data.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [14]:
data.Gender = data.Gender.apply(lambda x: 1 if x=="Male" else 0)

In [15]:
data.Married.unique()

array(['Yes', 'No'], dtype=object)

In [16]:
data.Married = data.Married.apply(lambda x: 1 if x=="Yes" else 0)

In [18]:
data.Dependents.unique()

array(['1', '0', '2', '3+'], dtype=object)

In [20]:
data['Dependents'].replace(['1', '0', '2', '3+'], [1,0,2,3],inplace=True)

C:\Users\Nasir Hussain\AppData\Local\Temp\ipykernel_6416\2934090898.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Dependents'].replace(['1', '0', '2', '3+'], [1,0,2,3],inplace=True)

In [21]:
data.Education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [22]:
data.Education = data.Education.apply(lambda x: 1 if x=='Graduate' else 0)

In [23]:
data.Self_Employed.unique()

array(['No', 'Yes'], dtype=object)

In [24]:
data.Self_Employed = data.Self_Employed.apply(lambda x: 1 if x=="Yes" else 0)

In [25]:
data.Property_Area.unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [26]:
data.Property_Area = data.Property_Area.apply(lambda x: 1 if x=='Rural' else 0)

In [27]:
data.Loan_Status.unique()

array(['N', 'Y'], dtype=object)

In [28]:
data.Loan_Status = data.Loan_Status.apply(lambda x: 1 if x=="Y" else 0)

In [29]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1,1,0,4583,1508.0,128,360.0,1.0,1,0
1,1,1,0,1,1,3000,0.0,66,360.0,1.0,0,1
2,1,1,0,0,0,2583,2358.0,120,360.0,1.0,0,1
3,1,0,0,1,0,6000,0.0,141,360.0,1.0,0,1
4,1,1,0,0,0,2333,1516.0,95,360.0,1.0,0,1