In [255]:
import numpy as np
import pandas as pd

In [257]:
df=pd.read_csv('Real estate.csv')

In [259]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [261]:
df.isna().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [263]:
df.duplicated().sum().sum()

0

In [265]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [267]:
df.corr()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,1.000000,-0.048658,-0.032808,-0.013573,-0.012699,-0.010110,-0.011059,-0.028587
X1 transaction date,-0.048658,1.000000,0.017549,0.060880,0.009635,0.035058,-0.041082,0.087491
X2 house age,-0.032808,0.017549,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.210567
X3 distance to the nearest MRT station,-0.013573,0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.673613
X4 number of convenience stores,-0.012699,0.009635,0.049593,-0.602519,1.000000,0.444143,0.449099,0.571005
X5 latitude,-0.010110,0.035058,0.054420,-0.591067,0.444143,1.000000,0.412924,0.546307
X6 longitude,-0.011059,-0.041082,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.523287
Y house price of unit area,-0.028587,0.087491,-0.210567,-0.673613,0.571005,0.546307,0.523287,1.000000

In [269]:
df.head(2)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2

In [271]:
df.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [273]:
df.drop(["No",'X1 transaction date'],axis=1,inplace=True)

In [275]:
df.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [277]:
df.columns=("house_age","near_mrt","stores","latitude","longitude","price")

In [279]:
df.head()

   house_age   near_mrt  stores  latitude  longitude  price
0       32.0   84.87882      10  24.98298  121.54024   37.9
1       19.5  306.59470       9  24.98034  121.53951   42.2
2       13.3  561.98450       5  24.98746  121.54391   47.3
3       13.3  561.98450       5  24.98746  121.54391   54.8
4        5.0  390.56840       5  24.97937  121.54245   43.1

In [281]:
X=df.drop("price",axis=1)

In [283]:
y=df.price

In [285]:
X.shape

(414, 5)

In [287]:
y.shape

(414,)

In [289]:
# X.head()
from sklearn.model_selection import train_test_split

In [291]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=123)

In [293]:
X_train.shape , y_train.shape, y_test.shape

((331, 5), (331,), (83,))

In [295]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [297]:
scaler.fit(X_train)
X_train_scaled=scaler.fit_transform(X_train)

In [299]:
X_train_scaled=scaler.transform(X_train)

In [196]:
X_test_scaled=scaler.transform(X_test)
X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)

In [304]:
X_train_scaled.shape

(331, 5)

In [310]:
dt=pd.DataFrame(X_train_scaled,columns=X_train.columns)

In [320]:
X_train_scaled.shape

(331, 5)

In [330]:
from sklearn.linear_model import LinearRegression
model_scal=LinearRegression()

In [332]:
X_train_scaled.shape ,y_train.shape

((331, 5), (331,))

In [334]:
model_scal.fit(X_train_scaled,y_train)

LinearRegression()

In [336]:
from sklearn.metrics import r2_score,mean_squared_error

In [338]:
y_pred_train = model_scal.predict(X_train_scaled)
y_pred_test = model_scal.predict(X_test_scaled)

C:\Users\unite\anaconda3\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [340]:
r2_score(y_train,y_pred_train)

0.5374293327415929

In [342]:
r2_score(y_test,y_pred_test)

0.7070090312260635

In [344]:
mean_squared_error(y_train,y_pred_scaled)

86.02662267595426

In [346]:
mean_squared_error(y_test,y_pred_test)

52.53129113555216